<header>
  <div class="container">
    <a routerLink="/">{{ appTitle }}</a>
    <nav>
      <ul>
        <li *ngFor="let category of categories">
          <a routerLink="{{ 'character/' + category.name }}">{{ category.title }}</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
