$almostWhite: #e4e4e4;
$blue: #007de0;
$darkerBlue: #0064b6;
$darkestBlue: #004775;
$golden: #e8af1c;
$gray: #b5b5b5;
$darkerGray: #464545;

header {
  background: $blue;

  .logo {
    font-weight: bold;
  }

  nav {
    margin-left: auto;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        float: left;
        border-radius: 5px;
        overflow: hidden;
        background: $darkerBlue;
        margin-right: 5px;

        a {
          text-transform: uppercase;
          font-size: 0.8em;
          height: 100%;
          width: 100%;
          display: block;
          padding: 1em;
        }
        &:hover {
          background: $darkestBlue;
        }
      }
    }
  }
}
