<h1>{{ movie }}</h1>
<div class="buttons">
  <button
    *ngFor="let decade of sortableDecades; index as i"
    [ngClass]="[decade.selected ? 'selected' : '', i === 0 ? 'first' : i === sortableDecades.length - 1 ? 'last' : '']"
    (click)="onClickSort($event, i)"
  >
    {{ decade.text }}
  </button>
</div>
<ul class="movies" *ngIf="moviesObjects">
  <li class="movie" *ngFor="let movie of moviesObjects">
    <div class="poster">
      <img [src]="movie.Poster" />
    </div>
    <div class="content">
      <h3 class="title">{{ movie.Title }}</h3>
      <div class="info">
        <div>
          <p class="rating">{{ movie.Rated }}</p>
          <p class="runtime">{{ movie.Runtime }}</p>
        </div>
        <p class="releaseDate">{{ movie.Released }}</p>
      </div>
      <p class="description">{{ movie.Plot }}</p>
      <div class="linkRow">
        <a href="{{ 'https://www.imdb.com/title/' + movie.imdbID }}" target="_blank" class="imdb">View on IMDB</a>
      </div>
    </div>
  </li>
</ul>
