@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

$almostWhite: #e4e4e4;
$blue: #007de0;
$darkerBlue: #0064b6;
$golden: #e8af1c;
$gray: #b5b5b5;
$darkerGray: #464545;
h1 {
  text-transform: capitalize;
}
button {
  padding: 10px;
  border: none;
  width: 150px;
  font-weight: bold;
  font-size: 0.85em;
  border-radius: 3px;
  cursor: pointer;
}
.buttons {
  display: flex;
  justify-content: flex-end;

  button {
    border: 1px solid $gray;
    background-color: $almostWhite;
    color: $darkerGray;

    &.first {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    &.last {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    &.selected {
      background-color: $blue;
      border-color: $darkerBlue;
      color: white;
    }
  }
}
ul {
  &.movies {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      &.movie {
        background: $almostWhite;
        padding: 0.5em;
        border-radius: 10px;
        margin: 10px;
        display: flex;
        grid-template-columns: 60px auto;
        border: 2px solid black;
        width: 70vw;

        .poster {
          display: flex;
          width: 25%;
          height: 25vw;

          border-radius: 10px;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
        .content {
          display: flex;
          width: 75%;
          padding-left: 10px;
          flex-direction: column;

          .title {
            color: $darkerGray;
            border-bottom: 2px solid $gray;
            min-height: 25px;
            width: 100%;
            display: flex;
            margin-bottom: 5px;
          }
          .info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            p {
              float: left;
              font-size: 0.9em;
              margin-top: 5px;

              &.rating {
                font-family: 'Merriweather', serif;
                border: 1px solid $gray;
                border-radius: 5px;
                padding: 2px;
                color: $gray;
                font-size: 0.8em;
                font-weight: bold;
                margin-right: 15px;
              }

              &.runtime {
              }
              &.releaseDate {
              }
            }
          }
          .description {
            font-size: 0.9em;
          }
          .linkRow {
            display: flex;
            justify-content: flex-end;
            margin-top: auto;

            a {
              background-color: $golden;
              color: white;
              padding: 10px;
              border: none;
              width: 150px;
              font-weight: bold;
              font-size: 0.85em;
              border-radius: 3px;
              cursor: pointer;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
