@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

button {
  padding: 10px;
  border: none;
  width: 150px;
  font-weight: bold;
  font-size: 0.85em;
  border-radius: 3px;
  cursor: pointer;
}
.buttons {
  display: flex;
  justify-content: flex-end;

  button {
    border: 1px solid #b5b5b5;
    background-color: #f1f1f1;
    color: #464545;

    &.first {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    &.last {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    &.selected {
      background-color: #007de0;
      border-color: #007de0;
      color: white;
    }
  }
}
ul {
  &.movies {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      &.movie {
        background: #eee;
        padding: 0.5em;
        border-radius: 10px;
        margin: 10px;
        display: flex;
        grid-template-columns: 60px auto;
        border: 2px solid black;
        width: 70vw;
        height: 25vw;

        .poster {
          display: flex;
          width: 25%;

          border-radius: 10px;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
        .content {
          display: flex;
          width: 75%;
          padding-left: 10px;
          flex-direction: column;

          .title {
            color: #464545;
            border-bottom: 2px solid gray;
            height: 25px;
            width: 100%;
            display: flex;
            margin-bottom: 5px;
          }
          .info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            p {
              float: left;
              font-size: 0.9em;
              margin-top: 5px;

              &.rating {
                font-family: 'Merriweather', serif;
                border: 1px solid gray;
                border-radius: 5px;
                padding: 2px;
                color: gray;
                font-size: 0.8em;
                font-weight: bold;
                margin-right: 15px;
              }

              &.runtime {
              }
              &.releaseDate {
              }
            }
          }
          .description {
            font-size: 0.9em;
          }
          .linkRow {
            display: flex;
            justify-content: flex-end;
            margin-top: auto;

            button {
              background-color: #e8af1c;
              color: white;
            }
          }
        }
      }
    }
  }
}
